body {
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    background-color: #1D428A;
    color: #ffffff;
}

header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #C8102E;
    text-align: center;
    border-bottom: 5px solid #ffffff;
}

h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: bold;
}

.team-buttons-container {
    margin: 10px 20px;
}

.team-button {
    border: none;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 5px 10px;
    color: #1D428A;
    font-weight: bold;
    text-transform: capitalize;
    margin: 5px 2px;
}

.input-container {
    padding: 10px 5px;
    font-weight: bold;

}

.input-container input {
    padding: 5px 10px;
    border-radius: 25px;
    border: none;
    font-size: 16px;

}

.search-button, .load-button, .top-button {
    border: none;
    background-color: #ffffff;
    color: #C8102E;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    padding: 5px 10px;
    text-transform: uppercase;
    margin: 0px 5px;
    text-decoration: none;
}

.search-button {
    margin: 10px 5px;
}

.gifs-container {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 220px);
    grid-gap: 1rem;
    justify-content: space-between;
    padding: 20px 0px 80px 0px;
}

.top-button {
    margin-top: 10px;
    position: sticky;
    z-index: 1;
    color: #C8102E;
}

.gif-tile {
    border-radius: 5px;
    padding: 10px;
    background-color: #ffffff;
    color: #333333;
    font-weight: bold;
    margin: auto;
    text-align: right;
    text-transform: uppercase;
}

.bottom-controls {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-bottom: 20px;
}

.featherlight .featherlight-content {
    border-radius: 5px;
}

@media only screen and (max-width: 640px) {
    
    .gifs-container {
        margin: 0 auto;
        grid-template-columns: repeat(auto-fill, 100%);       
    }
}

@media only screen and (max-width: 768px) {

    .gifs-container {
        margin: 0 25px;
    }
}

@media only screen and (max-width: 1000px) {

    .gifs-container {
        margin: 0 25px;
    }
}